body {
  min-width: 960px;
}

#main_container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.grid_6,
.grid_9,
.grid_12 {
  display: inline;
  float: left;
  margin-right: 10px;
}

.grid_6 {
  width: 460px;
  margin-left: 20px;
}

.grid_9 {
  width: 700px;
  margin-left: 20px;
}

.grid_12 {
  width: 940px;
  margin-left: 0px;
}

.prefix_1 {
  padding-left: 80px;
}

.prefix_2 {
  padding-left: 160px;
}

.pull_left {
  margin-left: 0px !important;
}

#update_button_div {
  margin-left: 20px;
}

.pattern_offset {
  margin-left: 100px !important;
}

#regex,
.slash {
  margin-left: 10px;
}

#regex {
  width: 540px;
}

.slash {
  width: 60px;
}

.highlight {
  background-color:yellow;
}

.vertical-spacer {
  margin-top: 30px;
  margin-bottom: 30px;
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
}

#match_result {
  height: 140px;
  width: 417px;
}

#match_result pre {
  margin-top: 0px;
}

#match_groups {
  height: 94px;
  width: 417px;
  vertical-align: bottom;
  overflow-y: scroll;
}

#match_groups pre {
  margin-top: -13px;
}

.match {
  padding-left: 5px;
  overflow: scroll;
}

#tips {
  height: 300px;
  width: 960px;
  padding-top: 20px;
  padding-right: 20px;
  margin-left: -25px;
  margin-bottom: 20px;
  line-height: 200%;
  -moz-column-count:3; /* Firefox */
  -webkit-column-count:3; /* Safari and Chrome */
  column-count:3;
}

.center {
  float: none;
  margin: auto;
}

ul {
  list-style-type: none;
  padding-left: 15px;
  margin-top: 0px;
}

li span:first-child {
  float: left;
  text-align: left;
  width: 60px;
  text-align: center;
}

li span:last-child {
  float: right;
  text-align: left;
  width: 230px;
  font-style: italic;
}

input, textarea, .match, #tips {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

input, textarea, .match {
  font-family: courier;
}

h1, h3, .slash, #footer {
  text-align: center;
}

button {
   background-color: rgba(18,127,210,1);
   background-image: -webkit-linear-gradient(top, rgba(54,168,234,1) 0%,rgba(18,127,210,1) 100%);
   background-image:    -moz-linear-gradient(top, rgba(54,168,234,1) 0%,rgba(18,127,210,1) 100%);
   background-image:     -ms-linear-gradient(top, rgba(54,168,234,1) 0%,rgba(18,127,210,1) 100%);
   background-image:      -o-linear-gradient(top, rgba(54,168,234,1) 0%,rgba(18,127,210,1) 100%);
   background-image:         linear-gradient(top, rgba(54,168,234,1) 0%,rgba(18,127,210,1) 100%);
   -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.4)inset, 1px 0px 0px 0px rgba(255,255,255,0.4)inset, -1px 0px 0px 0px rgba(255,255,255,0.4)inset;
      -moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.4)inset, 1px 0px 0px 0px rgba(255,255,255,0.4)inset, -1px 0px 0px 0px rgba(255,255,255,0.4)inset;
           box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.4)inset, 1px 0px 0px 0px rgba(255,255,255,0.4)inset, -1px 0px 0px 0px rgba(255,255,255,0.4)inset;
   border: solid 1px rgba(3,94,163,1);
   -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
           border-radius: 6px;
   width: 210px;
   display: inline-block;
   font-size: 16px;
   line-height: 40px;
   text-align: center;
   color: rgba(255,255,255,1);
   text-shadow: 0px 1px 1px rgba(0,0,0,0.33)
}

#update_regex {
  margin-top: 27px;
}
